@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --color-bg: #13131a;
    --color-bg-secondary: #1a1a23;
    --color-primary: #00e1ff;
    --color-secondary: #0400ff;
    --color-text: snow;
    --color-text-secondary: snow ;
    --color-bg-navbar: rgba(19, 19, 26, 0.8);
    --font-family: "Poppins", sans-serif;
    --color-bg-cs-primary: #04070a;
  }

  /*##################################################################*/

@import url(root_config.css);   /*The file that contains the color variables*/
@import url(button_style.css);        /*The file that contains the button styles*/
@import url(service_style.css);       /*The file that contains the service styles*/
@import url(footer_style.css);        /*The file that contains the footer styles*/
@import url(about_style.css);         /*The file that contains the about styles*/
@import url(pricing_style.css);       /*The file that contains the pricing styles*/
@import url(contact_style.css);       /*The file that contains the contact styles*/
@import url(animation_style.css);     /*The file that contains the animation styles*/
@import url(cards_style.css);         /*The file that contains the card styles*/
@import url(cta_style.css);           /*The file that contains the call to action styles*/
@import url(main_style.css);          /*The file that contains the main styles*/
@import url(logo_style.css);          /*The file that contains the logo styles*/
@import url(hero_style.css);          /*The file that contains the hero styles*/
@import url(nav_style.css);           /*The file that contains the nav styles*/
@import url(section_style.css);       /*The file that contains the section styles*/
@import url(form_style.css);          /*The file that contains the form styles*/
@import url(package_style.css);       /*The file that contains the package styles*/
@import url(news_style.css);          /*The file that contains the news styles*/
@import url(social_style.css);        /*The file that contains the social styles*/
@import url(asterisk_style.css);      /*The file that contains the asterisk styles*/
@import url(body_style.css);          /*The file that contains the body styles*/
@import url(font_style.css);          /*The file that contains the font styles*/
@import url(style.css);               /*The file that contains the main styles*/
